
.main-header .container {
  color: var(--txt-color);
  padding: 10px;
  background-color: var(--header-bgg-color);
  height: 60px;
}

.main-header .container .resizer {
  display: flex;
  justify-content: space-between;
  height: 40px;
}

.main-header .logo-container {
  display: flex;
}

.main-header .logo-container h1 {
  font-family: 'Gabriela', serif;
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 11px;
  margin-left: 19px;
  width: 150px;
}

.main-header nav .btn-mobile {
  display: block;
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 10;
  height: 100%;
  width: 45px;
  background: none;
  border: none;
  font-size: 29px;
  cursor: pointer;
  color: var(--txt-color);
}

.btn-mobile {
  border: none;
  background-color: none;
  background: none;
  font-size: 2rem;
}

#main-header-ul {
  background-color: #fff;
  height: auto;
  bottom: auto;
  padding: 2rem;
}

#main-header-ul > li > a {
  color: black;
}

.main-header nav ul {
  list-style-type: none;
  margin: 0;
  padding: var(--default-page-padding);
  display: none;
}

.main-header nav ul.show {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  width: 150px;
  background: var(--mobile-ul-bgg-color);
}

.main-header nav ul.show .mobile-li button,
.main-header nav ul.show li a {
  font-size: 20px;
  padding: 10px 0 10px 0;
  display: block;
  border-bottom: 5px solid var(--horizontal-line-color);
  font-family: 'Source Serif Pro', serif;

}

.main-header nav ul.show .mobile-li button {
  text-align: left;
  background: none;
  border: none;
  width: 100%;
  cursor: pointer;
}

.main-header nav ul li a {
  text-decoration: none;
}

.logo{
  width: 65px;
  height: 65px;
}

main{
    margin-left: 20px;
    margin-right: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2{
    background-color: #ABC6FD;
    text-align: center;
    padding: 25px;
    border-radius: 5px;
}

.btn a{
    border-style: solid;
    border-radius: 5px;
    padding: 3%;
}

.btn{
    margin-bottom: 5%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 15%;    
    margin-right: 15%;
}

img{
    width: 65px;
}

.box{
    background-color: #92c2b3;
    text-align: center;
    border-radius: 5px;
}

h4{
    font-size: 20px;
}

footer{
  background-color: #f2d5d5;
    text-align: center;
    padding: 21px;
    height: 180px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Kalender - kode fra w3:  https://www.w3schools.com/howto/howto_css_calendar.asp*/

* {box-sizing: border-box;}
.kal {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}



/* Add media queries for smaller screens */
@media screen and (max-width:720px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 420px) {
  .weekdays li, .days li {width: 12.5%;}
  .days li .active {padding: 2px;}
  
}

@media screen and (max-width: 290px) {
  .weekdays li, .days li {width: 12.2%;}
}

/* Kalender */


@media only screen and (min-width: 720px) {

  .main-header nav ul,
  .main-header nav ul.show {
    position: inherit;
    background: none;
    border: none;
    width: auto;
    display: flex;
    gap: 10px;
    padding: 0;
  }

  .main-header nav .btn-mobile,
  .main-header nav ul .mobile-li,
  .main-header nav ul.show .mobile-li {
    display: none;
  }

  .main-header nav ul.show li a,
  .main-header nav ul li a {
    padding: 12px;
    height: 40px;
    display: block;
    background: transparent;
    color: var(--txt-color);
    font-family: 'Source Serif Pro', serif;
    border: none;
    font-size: 14px;
  }

  .flex-section .flex-container {
    display: flex;
    gap: var(--default-page-margin);
  }

  .flex-box, .box1, .box2, .box3, .box4{
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
  }

  .main-header .container .resizer,
  .single-section,
  .flex-section,
  .main-header .single-img, 
  .flex-box {
    max-width: 900px;
    margin: auto;
  }

  .btn-mobile {
    display: none;
  }

  #main-header-ul {
    background-color: transparent;
    height: auto;
    bottom: auto;
    padding: 2rem;
  }
  

}
