body{
    background-color: white;
    color: black;
    margin: 0px;
}

.priser{
    background-color: #A6C6FF;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 114px;
    height: 144px;
    border-radius: 5%;
    text-align: center;
   padding-top: 50px;
}


.Månedlig{
    background-color: #92C2B3;
    margin-right: 140px;
    margin-left: 140px;
    border-radius: 5%;
    text-align: center;
}

.halvårligt{
    background-color: #92C2B3;
    margin-right: 140px;
    margin-left: 140px;
    border-radius: 5%;
    text-align: center;
}

.årligt{
    background-color: #92C2B3;
    margin-right: 140px;
    margin-left: 140px;
    border-radius: 5%;
    text-align: center;
}

.MT{
    background-color: #A6C6FF;
    border-radius: 5px;
    height: 97px;
}

.HT{
    background-color: #A6C6FF;
    border-radius: 5px;
    height: 97px;
}

.ÅT{
    background-color: #A6C6FF;
    border-radius: 5pt;
    height: 97px;
}

@media screen and (min-width: 720px) {
    .main-header nav ul,
    .main-header nav ul.show {
      position: inherit;
      background: none;
      border: none;
      width: auto;
      display: flex;
      gap: 10px;
      padding: 0;
    }
  
    .main-header nav .btn-mobile,
    .main-header nav ul .mobile-li,
    .main-header nav ul.show .mobile-li {
      display: none;
    }
  
    .main-header nav ul.show li a,
    .main-header nav ul li a {
      padding: 12px;
      height: 40px;
      display: block;
      background: transparent;
      color: var(--txt-color);
      font-family: 'Source Serif Pro', serif;
      border: none;
      font-size: 14px;
    }
  